*.sh text eol=lf
scripts/*.sh text eol=lf
*.ps1 text eol=crlf
Caddyfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.example text eol=lf
.bashrc text eol=lf
infrastructure/docker/**/.bashrc text eol=lf
